DATABASE_URL="postgresql://postgres:postgres@postgres:5432/mydb?schema=public"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydb

JWT_SECRET="04b57fbf281f71a9fd500512da5d055bf4070ebbd1731b3e69d353c843250367"